table {
 border-width:1px;
 border-style:solid;
 border-color:black;
 width:50%;
 }
td,th {
 border-width:1px;
 border-style: solid;
 width:50%;
 }
 caption{
    border-style:  double;
 }
div{
  text-align: center;
}
th{
	text-align: center;
}